/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    background: #fff;
    color: #000;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button, input, select, textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}


body {
    display:grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: red;
}

main {
    background: blue;
}

footer {
    background: yellow;
}